<h1><%= @trainer.name %>'s Pokemon!</h1>
<div class="containerize">

    <% @trainer.pokemons.each do |mon| %>
      <div class="pokemon">
          <p>Name: <%= mon.name %></p>
          <p>Type: <%= mon.poke_type %></p>
          <p>CP: <%= mon.cp %></p>
          <form action="/allPokemon/<%= mon.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" name="delete" value="Delete Pokemon">
          </form>
          <form action="/allPokemon/edit/<%= mon.id %>" method="get">
            <input type="submit" name="edit" value="Edit Pokemon">
          </form>
          <img src="<%= mon.img_url %>" alt="<%= mon.name %>" />

      </div>

    <% end %>

</div>
