<h1>All the Trainers!</h1>
<div class="containerize">
  <% @trainers.each do |trainer| %>
    <div class="pokemon">
      <p>Name: <%= trainer.name %></p>
      <p>Level: <%= trainer.level %></p>

      <form action="/trainers/<%= trainer.id %>/pokemon" method="get">
      <input type="submit" name="edit" value="View Pokemon">
      </form>

      <form action="/trainers/<%= trainer.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
      <input type="submit" name="delete" value="Delete Trainer">
      </form>

      <form action="/trainers/<%= trainer.id %>" method="get">
      <input type="submit" name="edit" value="Edit Trainer">
      </form>

      <p><img src="<%= trainer.img_url %>" alt="<%= trainer.name %>" /></p>

    </div>
  <% end %>
</div>
